<%- include('templates/header') %>
<p>
    <a href="/applicants">Aspirantes</a>
</p>
<p>
    <a href="/validators">Servicios escolares</a>
</p>
<p>
    <a href="/responsibles">Responsables de unidades</a>
</p>
<p>
    <a href="/register">Registrar cuenta</a>
</p>
<%- include('templates/footer') %>
