<%- include('templates/header') %>
<div class="container">  
  <h1>First Web Page With Bootstrap</h1>  
  <p>
    <a href="/applicants">Aspirantes</a>
  </p>
  <p>
    <a href="/validators">Servicios escolares</a>
  </p>
  <p>
    <a href="/responsibles">Responsables de unidades</a>
  </p>
</div>
<%- include('templates/footer') %>
