<%- include('templates/header', {authenticated: authenticated}) %>
<main>
    <div class="row g-5">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Crear cuenta</h4>
            <form class="needs-validation" novalidate method="POST" action="/users/create">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="name" class="form-label">Nombre o alias</label>
                        <input
                            autocomplete="given-name"
                            class="form-control"
                            id="name"
                            name="name"
                            required
                            type="text"
                            value=""
                        />
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-12">
                        <label for="username" class="form-label">E-mail</label>
                        <input
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="usuario@dominio"
                            required
                            type="email"
                            value=""
                        />
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-12">
                        <label for="password" class="form-label">Contraseña</label>
                        <input
                            class="form-control"
                            id="password"
                            minlength="6"
                            name="password"
                            placeholder="******"
                            required
                            type="password"
                        />
                        <div class="invalid-feedback"></div>
                    </div>
				</div>

				<h4 class="mb-3">Tipo de usuario</h4>

				<div class="my-3">
					<div class="form-check">
					    <input id="validator" name="role" type="radio" class="form-check-input" checked value="1" />
				        <label class="form-check-label" for="validator">Validador (Servicios escolares)</label>
                        <div class="invalid-feedback"></div>
					</div>
					<div class="form-check">
					    <input id="responsible" name="role" type="radio" class="form-check-input" value="2" >
					    <label class="form-check-label" for="responsible">Responsable de unidad académica</label>
                        <div class="invalid-feedback"></div>
					</div>
				</div>

                <hr class="my-4">

                <div class="text-end">
                    <div class="d-inline-flex gap-2 mb-5">
                        <a class="btn btn-outline-secondary btn-lg px-4" href="/login">Tengo cuenta</a>
                        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4" type="submit">Registrarse</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="/js/register.js"></script>
<%- include('templates/footer') %>
