<%- include('templates/header', {authenticated: authenticated}) %>

<table id="table-validate" class="display table table-striped" style="width:100%;">
	<thead>
		<tr>
			<th>CURP</th>
			<th>Primer apellido</th>
			<th>Segundo apellido</th>
			<th>Nombres</th>
			<th>Fecha nac.</th>
			<th>Género</th>
			<th>Estado</th>
			<th>Comprobante</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<div class="d-none js-template-btn-voucher">
	<a href="#" class="js-voucher" title=""><i class="bi"></i></a>
</div>

<script src="/js/validators.js"></script>
<%- include('templates/footer') %>
