<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Preinscripción de alumnos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Aplicación para preinscripción de alumnos en línea">
		<meta name="author" content="Paloma Noriega, Perla Dueñas, Herón Ortiz, Isaac Rojas">
		<link href="app.css" rel="stylesheet">
		<meta name="theme-color" content="#7952b3">
	</head>
	<body class="bg-light">
		<div class="container">
