<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Preinscripción de alumnos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Aplicación para preinscripción de alumnos en línea">
		<meta name="author" content="Paloma Noriega, Perla Dueñas, Herón Ortiz, Isaac Rojas">
		<link href="/css/app.css" rel="stylesheet">
		<meta name="theme-color" content="#7952b3">
	</head>
	<body class="bg-light">
		<div class="container">
			<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
				  <span class="fs-4">Sistema de preinscripciones</span>
				</a>

				<ul class="nav nav-pills">
					<li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
					<% if (authenticated) { %>
					<li class="nav-item"><a href="/logout" class="nav-link">Salir</a></li>
					<% } else { %>
					<li class="nav-item"><a href="/login" class="nav-link">Iniciar sesion</a></li>
					<% } %>
				</ul>
			  </header>
